.services-container {
	padding: 30px;
}
.services-container__box {
	background-color: #eaeaef;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 30px 30px 20px 30px;
	height: fit-content;
}
.services-container__table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: center;
	border-radius: 15px;
	overflow: hidden;
}
.services-container__table th {
	font-size: 16px;
	font-family: Montesrrat, sans-serif;
}
.services-container__table tr {
	font-size: 14px;
	font-family: Montesrrat, sans-serif;
	justify-content: center;
}
.services-container__table button {
	background-color: #62a8ea;
	border-color: #62a8ea;
	font-size: 12px;
	font-family: Montesrrat, sans-serif;
}
.services-container__select-professional {
	margin-bottom: 10px;
	text-align: center;
}
.services-container__buttons {
	display: flex;
	gap: 30px;
	justify-content: center;
}
.services-container__buttons Button {
	background-color: #62a8ea;
	border-color: #62a8ea;
}
